:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 0;
}

ol,
ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    align-items: center;
    background-color: var(--color-de-fondo-menu);
    justify-content: space-between;
    padding: 16px;
}

.cabecera__inicio {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cabecera__logo {
    width: 24px;
    height: 24px;
}

.cabecera__titulo {
    font-size: 16px;
    height: 19px;
    line-height: 18.78px;
    color: #464646;
}

.navegacion__lista {
    display: none;
}

.navegacion__email {
    font-size: 16px;
    font-weight: 700;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
    gap: 16px;
}

.presentacion__foto {
    height: 146px;
    width: 146px;
    border-radius: 50%;
}

.presentacion__contenedor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion__titulo {
    font-size: 22px;
    line-height: 25.83px;
    color: #464646;
}

.presentacion__subtitulo {
    font-size: 16px;
    line-height: 18.78px;
    color: #464646;
}

.redes {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    display: flex;
    flex-flow: column;
    background-color: #EAF2FD;
    gap: 16px;
    padding: 16px;
}

.sobre-mi__titulo {
    font-size: 22px;
    line-height: 25.83px;
}

.sobre-mi__texto {
    font-size: 14px;
    line-height: 16.44px;
}

.sobre-mi__firma {
    height: 52px;
    width: 140px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.habilidades__titulo {
    font-size: 22px;
    line-height: 25.83px;
    display: flex;
    justify-content: center;
}

.habilidades__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.habilidades__elemento {
    width: 45%;
    height: 8rem;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 16px;
}

.habilidades__icono {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.habilidades__nombre {
    width: 144px;
    height: 19px;
    font-size: 16px;
    line-height: 18.78px;
    color: #464646;
    margin-left: 16px;
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.aficiones__titulo {
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 25.83px;
}

.aficiones__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.aficiones__elemento {
    width: 45%;
    height: 8rem;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 16px;
}

.aficiones__icono {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.aficiones__nombre {
    width: 144px;
    height: 19px;
    font-size: 16px;
    line-height: 18.78px;
    color: #464646;
    margin-left: 16px;
}

/*---------------------- Sección de Formacion Academica ------------------------------*/
.formacion {
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
    gap: 16px;
    padding: 16px;
}

.formacion__detalle {
    font-size: 14px;
    line-height: 16.44px;
}

.formacion__nombre {
    font-size: 16px;
    line-height: 18.78px;
}

.formacion__titulo {
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 25.83px;
}

.formacion__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    line-height: 25.83px;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.formacion__icono {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3%;
    align-items: center;
    height: 200px;
}

.formacion__img {
    height: 70%;
    width: 40%;
    border-radius: 50%;
}

.botones {
    display: flex;
    gap: 16px;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    text-align: justify;
}

.proyectos__titulo {
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 25.83px;
}

.proyectos__lista {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.proyectos__contenedor {
    display: flex;
    justify-content: space-between;
    height: 406px;
    gap: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    height: 100%;
}

.proyectos__contenedor:nth-child(2),
.proyectos__contenedor:nth-child(4),
.proyectos__contenedor:nth-child(6) {
    flex-direction: column;
}

.proyectos__img {
    width: 100%;
}

.proyectos__texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.proyectos__nombre {
    font-size: 16px;
    line-height: 18.78px;
}

.proyectos__descripcion {
    font-size: 14px;
    line-height: 16.44px;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
    background-color: #EAF2FD;
    justify-content: space-between;
}

.contacto__area {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.contacto__titulo {
    width: 141px;
    height: 38px;
    display: flex;
    font-size: 22px;
    line-height: 25.83px;
    color: #464646;
    margin: 0%;
}

.contacto__texto {
    font-size: 16px;
    line-height: 18.78px;
}

.contacto__img {
    display: flex;
    width: 45%;
    height: 608px;
    border-radius: 4px;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.contacto__campo {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    gap: 8px;
}

.contacto__campo--textarea {
    width: 100%;
    height: 133px;
    border-radius: 4px;
}

.contacto__img {
    display: none;
}

.boton {
    display: flex;
    width: 144px;
    align-items: center;
    height: 55px;
    justify-content: center;
    background-color: #2A7AE4;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    line-height: 16.44px;
}

/*---------------footer---------------------------------------------------------------*/
.footer {
    display: flex;
    height: 102px;
    gap: 10px;
    background-color: #ffffff;
    justify-content: center;
}

.footer__titulo {
    font-size: 16px;
    color: #464646;
    align-self: center;
    height: 38px;
}

/* ------------------------------ Responsividad ---------------------------------------*/
@media (min-width: 768px) {
    .cabecera {
        padding: 16px 32px;
    }

    .presentacion {
        flex-direction: row;
        padding: 32px;
        gap: 32px;
    }

    .presentacion__contenedor {
        gap: 8px;
    }

    .sobre-mi {
        padding: 32px;
    }

    .habilidades {
        padding: 32px;
        gap: 32px;
    }

    .habilidades__elemento {
        width: 30%;
        height: 118px;
    }

    .aficiones {
        padding: 32px;
        gap: 32px;
    }

    .aficiones__elemento {
        width: 30%;
        height: 118px;
    }

    .formacion {
        padding: 32px;
        gap: 32px;
    }

    .formacion__lista {
        flex-direction: row;
    }

    .formacion__elemento {
        width: 30%;
    }
    .formacion__img {
        width: 80%;
        height: 192px;
        margin: 16px;
    }

    .formacion__icono {
        height: 100%;
    }

    .proyectos {
        padding: 32px;
        gap: 32px;
    }

    .proyectos__contenedor {
        width: 100%;
    }

    .proyectos__img {
        width: 704px;
        height: 320px;
    }

    .contacto {
        padding: 32px;
        gap: 32px;
    }
}

/* ------------------------------ Responsividad ---------------------------------------*/
@media (min-width: 1240px) {
    body {
        gap: 32px;
    }

    .cabecera {
        padding: 32px 64px;
    }

    .navegacion {
        display: flex;
        gap: 32px;
    }

    .navegacion__lista {
        display: flex;
        gap: 32px;
    }

    .navegacion__elemento a {
        font-size: 16px;
    }

    .presentacion {
        padding: 0 64px;
        justify-content: space-between;
    }

    .presentacion__foto {
        height: 368px;
        width: 368px;
    }

    .presentacion__titulo {
        font-size: 52px;
        line-height: 61.05px;
    }

    .presentacion__subtitulo {
        font-size: 22px;
        line-height: 25.83px;
    }

    .presentacion__contenedor {
        gap: 24px;
    }

    .sobre-mi {
        padding: 64px;
        gap: 32px;
    }

    .sobre-mi__titulo {
        font-size: 32px;
        line-height: 37.57px;
        width: 137px;
        height: 38px;
    }

    .sobre-mi__texto {
        font-size: 16px;
        line-height: 18.78px;
        text-align: justify;
    }

    .sobre-mi__firma {
        height: 120px;
        width: 170px;
    }

    .habilidades {
        padding: 0 64px;
    }

    .habilidades__titulo {
        font-size: 32px;
        line-height: 37.57px;
    }

    .habilidades__elemento {
        height: 174px;
        width: 176px;
    }

    .aficiones {
        padding: 0 64px;
    }

    .aficiones__titulo {
        font-size: 32px;
        line-height: 37.57px;
    }

    .aficiones__elemento {
        height: 174px;
        width: 176px;
    }

    .formacion {
        padding: 64px;
    }

    .formacion__titulo {
        font-size: 32px;
        line-height: 37.57px;
    }

    .formacion__elemento {
        width: 400px;
    }

    .proyectos {
        padding: 0 64px;
    }

    .proyectos__titulo {
        font-size: 32px;
        line-height: 37.57px;
    }

    .proyectos__contenedor {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .proyectos__contenedor:nth-child(2),
    .proyectos__contenedor:nth-child(4),
    .proyectos__contenedor:nth-child(6) {
        flex-direction: row-reverse;
    }

    .proyectos__nombre {
        font-size: 22px;
        line-height: 25.83px;
    }

    .proyectos__img {
        width: 752px;
        height: 406px;
    }

    .proyectos__descripcion {
        font-size: 16px;
        line-height: 18.78px;
    }

    .contacto {
        padding: 64px;
    }

    .contacto__titulo {
        font-size: 32px;
        line-height: 37.57px;
    }

    .contacto__boton {
        width: 100px;
        height: 40px;
    }

    .contacto__img {
        display: flex;
    }
}